@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
.header{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(100px, 8vw, 100px);
}
.add-email-header h1{
    font-size: 1.7rem;
    margin-top: 1.5rem;
    font-family:'Poppins',sans-serif;
    font-weight: 500;
}
.form{
    width: 90%;
    margin: auto;
}
.form-control{
    height: 40px !important;
        font-weight: 400 !important;
    font-family: 'Poppins',sans-serif;
}
.form-control:focus{
    box-shadow: none !important;
}
.contact-card:first-child{
    margin-top: 50px !important;
}
.contact-card{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    border-bottom: 2px solid rgb(221, 218, 218) !important;
    margin-bottom:2.5rem;
}
.cards h3{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
}
.cards p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    font-weight:400;
    margin-bottom: 0.66rem !important;
    text-transform: lowercase;
}
.user{
    display: flex;
    column-gap: 10px;
}
.no_contact_display{
    overflow: hidden;
    text-align: center;
    margin-top: 200px;
    font-size: 1.4rem;
    text-transform:uppercase;
    font-family: 'Poppins', sans-serif;
    color: rgb(122, 126, 118);
}
.delete:hover{
    color: red;
    scale: 1.1;
    cursor: pointer;
}
.delete:active {
    scale: 0.9;
    cursor: pointer;
}
.form-input .active {
    display: none;
}
.no-to-display {
    text-align: center;
    font-size: 2rem;
    min-height: 30rem;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(65, 38, 38);
    font-weight: 400;
}
.link{
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
span{
    display: inline;
}











